@model IEnumerable<UserViewModel>

@{
    Layout = "_Layout";
}


@*<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
</svg>*@

<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people users" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zm7.973.056v-.002.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
</svg>

@foreach (var user in Model)
{
    <li>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        </svg>
        <a asp-controller="Home" asp-action="CheckPrivateChat" asp-route-id="@user.Id" class="my badge badge-light">@user.UserName</a>
    </li>
}


@*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
<link href="~/css/font-glyphicons.css" rel="stylesheet" />



























@*<a asp-controller="Home" asp-action="CheckPrivateChat" asp-route-id="@user.Id" class="btn btn-light btn-lg disabled" role="button" aria-pressed="true">@user.UserName</a>*@

@*<div class="user_preview">
        <a asp-controller="Home" asp-action="CheckPrivateChat" asp-route-id="@user.Id">
            <button style="background: none !important; border: none; padding: 0 !important; /*optional*/ font-family: arial, sans-serif; /*input has OS specific font-family*/ color: #069; text-decoration: underline; cursor: pointer;" asp-controller="Home" asp-action="CheckPrivateChat" asp-route-id="@user.Id">
            @user.UserName
            </button>
        </a>
    </div>*@
@*<a asp-controller="Home" asp-action="CheckPrivateChat" asp-route-id="@user.Id" target="_blank" class="stretched-link btn btn-primary">
        @user.UserName
    </a>*@

@*aria-disabled="true"*@


@*<button type="button" class="btn btn-light" asp-controller="Home" asp-action="CheckPrivateChat" asp-route-id="@user.Id">@user.UserName</button>*@

@* asp-route-id="@user.Id"
*@
@*<input type="hidden" name="Id" value="@user.Id" />*@

@*<a asp-controller="Home" asp-action="CreatePrivateChatAsync" asp-route-userId="@user.Id"></a>
                @user.UserName
    asp-route-userId="@user.Id"

    asp-controller="Home" asp-action="CreatePrivateChatAsync"*@

@* asp-route-id="@user.Id" *@


@* <a class="group-button" asp-controller="Home" asp-action="CreatePrivateChatAsync">
        <input type="hidden" name="Id" value="@user.Id" />
        <p>@user.UserName</p>
    </a> *@