@inject SignalROnlineChatServer.BLL.Services.Interfaces.IHomeService homeService
@{
    var chats = homeService.GetAllChats();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalROnlineChatServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@

</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">

            <div class="messaging">
                <div class="navbar menu">
                    <div class="navbar-brand" @*asp-area="" asp-controller="Home" asp-action="Index"*@>
                        <div class="dropdown button">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @*Options*@
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Home" asp-action="FindUsers">Find Users</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="DisplayCreateGroupForm">Create new group</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <div class="chat_app_name">
                            SignalROnlineChat
                        </div>
                    </div>
                    <div class="logout-button">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogoutAsync">Logout</a>
                    </div>
                </div>
                <div class="inbox_msg">
                    <div id="inbox_chat" class="inbox_people">
                        <div id="inbox_chat" class="inbox_chat">
                            @foreach (var chat in chats)
                            {
                                <a id="get_chat_button" asp-controller="Home" asp-action="GetChat" asp-route-id="@chat.Id">
                                    <div id="@chat.Id" class="chat_list_item">
                                        <div class="chat_detail">
                                            <div class="chat_img"> @*<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">*@ </div>
                                            <div class="chat_detail_info">
                                                <h5>@chat.Name<span class="chat_date">@chat.LastMessageDate</span></h5>
                                                <p class="lastMessage" id="last_message_in_chat">
                                                    @*@chat.Messages.Last().Name : @chat.LastMessage*@
                                                    @chat.LastMessageAuthor : @chat.LastMessage
                                                </p>
                                            </div>
                                            <span id="notification_badge" class="badge badge-light notification">@chat.UnreadMessages</span>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="chat_view">
                        <div class="message_story">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>



    <script src="~/js/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/bootstrap.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

@RenderSection("Scripts", required: false)

</html>
<ej-script-manager></ej-script-manager>



<script src="~/js/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    @*<script src="~/js/site.js"></script>*@

<script>
        const homeConnection = new signalR.HubConnectionBuilder().withUrl("/homeHub")
            .withAutomaticReconnect()
            .build();

        var _connectionId = '';

        homeConnection.serverTimeoutInMilliseconds = 1000 * 60 * 10;

        homeConnection.start().catch(err => console.log(err))
            .then(function () {
                homeConnection.invoke('GetConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId
                        console.log("connected to homeHub with id " + _connectionId);
                        //createPrivateChat();
                    })
            })
            .catch(function (err) {
                console.log(err)
            })


        homeConnection.on("ChatCreated", function (data) {
            console.log(data);

            //<a id="stest" href="/MyWeb/MyPageIndex/123545" />
            //$("#stest").attr("href", "/MyWeb/MyPageIndex/" + GetParentID());

            chatId = data.id;

            @*$('.inbox_chat').append(
                $('.get_chat_button', {
                    html: $('<a/>', {
                        href: '@Url.Action("someAction", "someController")',
                        text: 'hello world',
                        click: function () {
                            $.get(this.href, function (result) {
                                alert('ajax success');
                            });
                            return false;
                        }
                    })
                })
            );*@

            //debugger;
            console.log('start display data');

            //location.href = '@Url.Action("GetChat", "Home")?id=' + chatId;

            var getChatButton = document.createElement("a");
            //getChatButton.class = "get_chat_button"
            getChatButton.id = "get_chat_button";
            getChatButton.href = "GetChat?" + chatId;
            //getChatButton.click = location.href;

            //getChatButton.href = "@Url.Action("GetChat", "Home")";
            //getChatButton.click = $(".message_story")load('@Url.Action("GetChat", "Home")', { id: chatId });
            //$('#get_chat_button').load('@Url.Action("GetChat", "Home")', { id: chatId })
            //getChatButton.href = "/Home/GetChat";
            //$('#get_chat_button').attr("getChatButton.href", "/Home/GetChat/" + chatId);

            var chatListItem = document.createElement("div");
            chatListItem.classList.add("chat_list_item");

            console.log('1');
            var chatDetail = document.createElement("div");
            chatDetail.classList.add("chat_detail");

            console.log('2');
            var chatImg = document.createElement("div");
            chatImg.classList.add("chat_img");

            console.log('3');
            var chatDetailInfo = document.createElement("div");
            chatDetailInfo.classList.add("chat_detail_info");

            console.log('4');
            var chatName = document.createElement("h5");
            chatName.appendChild(document.createTextNode(data.name));

            console.log('5');
            var chatDate = document.createElement("span");
            chatDate.classList.add("chat_date");
            chatDate.appendChild(document.createTextNode(data.lastMessageDate));

            console.log('6');
            var p = document.createElement("p");
            p.appendChild(document.createTextNode(data.lastMessageAuthor + ' : ' + data.lastMessage));

            var notification = document.createElement("span");
            notification.classList.add("badge");
            notification.classList.add("badge-light");
            notification.classList.add("notification");
            notification.id = "notification_badge";
            notification.appendChild(document.createTextNode("1"));

            console.log('create tree');

            getChatButton.appendChild(chatListItem);

            chatListItem.appendChild(chatDetail);
            console.log('add chatDetail');

            chatDetail.appendChild(chatImg);
            chatDetail.appendChild(chatDetailInfo);
            chatDetail.appendChild(notification);
            chatDetailInfo.appendChild(chatName);
            chatDetailInfo.appendChild(p);
            chatName.appendChild(chatDate);


            console.log('add new chat');
            getChatButton.appendChild(chatListItem);
            var inboxChat = document.querySelector(".inbox_chat");
            inboxChat.insertBefore(getChatButton, inboxChat.firstChild);
            //inboxChat.appendChild(getChatButton);
            //document.getElementById("get_chat_button").appendChild(chatListItem);
            //document.getElementById(".inbox_chat").appendChild(getChatButton);
            //document.querySelector('.inbox_chat').append(chatListItem);
            //debugger;
            //debugger;
            console.log("data has been displayed");
        })

    homeConnection.on("UpdateLastMessage", function (data, groupId) {
            var currentChat = document.getElementById(groupId);
            var lastMessage = currentChat.querySelector(".lastMessage");
            lastMessage.innerHTML = data.name + " : " + data.text;
        });

    homeConnection.on("PushNotification", function (groupId)
    {
        var currentChat = document.getElementById(groupId);
        var notification = currentChat.querySelector(".badge");
        var count = parseInt(notification.innerHTML);
        notification.innerHTML = count + 1;
    });

    homeConnection.on("ClearNotification", function (groupId)
    {
        var currentChat = document.getElementById(groupId);
        var notification = currentChat.querySelector(".badge");
        //var count = parseInt(notification.innerHTML);
        notification.innerHTML = 0;
    });

    homeConnection.on("DeleteChat", function (chatId)
    {        
        var currentChat = document.getElementById(chatId);
        var chatPointer = currentChat.parentNode;
        var inboxChat = chatPointer.parentNode;
        inboxChat.removeChild(chatPointer);
        //alert("Chat deleted");
        //inboxChat.insertBefore(getChatButton, inboxChat.firstChild);
    });

    //homeConnection.on("GetCreatedChat", function (data) {
    //    debugger;
    //    axios.get('Home/GetChat', data)
    //        .then(res => {
    //            console.log("Chat displayed", res);
    //            //debugger;
    //        })
    //        .catch(err => {
    //            console.log("Failed to get chat", err);
    //        })
    //})


</script>






@*<div class="navbar menu">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SignalROnlineChatServer</a>
        <div class="logout-button">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogoutAsync">Logout</a>
        </div>
    </div>*@



@*<script src="~/js/signalr.js/signalr.min.js"></script>*@

@*<script src="Scripts/jquery-3.1.1.min.js"></script>*@




@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SignalROnlineChatServer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="logout-button">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogoutAsync">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@




@*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>*@


@*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SignalROnlineChatServer - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@